#Place under ~/.Xresources
xterm*Background: black
xterm*Foreground: white

#Enable Ctr Shift <C,V> for Copy-Pasting
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
